{% extends "template.html" %}
{% block content %}

<div class="container">
    <div class="row m-2">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
            {% for crumb in breadcrumbs %}
                {% if not loop.last %}
                <li class="breadcrumb-item">
                    <a href="{{ url_for('articles')}}{% for i in range(loop.index) %}{{ breadcrumbs[i] }}/{% endfor %}">
                    {{ crumb }}
                    </a>
                </li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">{{ crumb }}</li>
                {% endif %}
            {% endfor %}
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="row  m-2">
    {% if single %}
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
    {% else %}
    <div class="col-sm-9">
    {% endif %}

      {% for file in files %}
      <div class="row m-2">
        <div class="col">
          <div class="shadow-sm p-2 bg-white rounded">
            <div class="row">
              <div class="col">
                <a href="{{ url_for('articles')}}{{ file['url_helper'] }}" class="text-decoration-none">
                  <h4>{{ file["title_cap"] }} - <small class="text-muted">{{ file["date"] }}</small></h4>
                </a>
                {% for tag in file["tags"] %}
                  {% if loop.first %}Tags: {% endif %}
                  <span class="badge badge-pill badge-info">{{ tag }}</span>
                  {% if loop.last %}<br>{% endif %}
                {% endfor %}
                
                <div class="row">
                  <div class="col m-3">
                  {% if single %}
                      {{file["article"]}}
<!--                     {% for line in file["article"]%}
                    <p>{{ line }}</p>
                    {% endfor %} -->
                  {% else %}
                    {{ file["teaser"] }}
                  {% endif %}

                  </div>
                </div>                  
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {% if not single %}
    <div class="col-sm-3">
      <div class="shadow-sm p-2 bg-white rounded">
      <strong>Filters</strong>

        <div class="row">
          <div class="col">
            <h6>Area:</h6>
            <a href="{{ url_for('articles')}}professional">
              <span class="badge badge-pill badge-success">Professional
              </span>
            </a>
            <a href="{{ url_for('articles')}}personal">
              <span class="badge badge-pill badge-success">Personal
              </span>
            </a>
            <p></p>
            <h6>Year:</h6>
            <a href="{{ url_for('articles', year=2019)}}">
              <span class="badge badge-pill badge-dark">2020
              </span>
            </a>
            <a href="{{ url_for('articles', year=2019)}}">
              <span class="badge badge-pill badge-dark">2019
              </span>
            </a>
            <a href="{{ url_for('articles', year=2018)}}">
              <span class="badge badge-pill badge-dark">2018
              </span>
            </a>
            <a href="{{ url_for('articles', year=2017)}}">
              <span class="badge badge-pill badge-dark">2017
              </span>
            </a>

            <p></p>
            <h6>Tags:</h6>
            {% for tag in tags %}
              <a href="{{ url_for('articles', tags=tag[0])}}">
                <span class="badge badge-pill badge-info">{{ tag[0] }}<span class="badge badge-pill badge-info">({{ tag[1] }})</span>
                </span>
              </a>
            {% endfor %}
          </div> 
        </div>       
      </div>    
    </div>
    {% endif %}
  </div>

  {% if single %}
  <div class="row  m-2">
    <div class="col" id="disqus_thread">
    </div>
  </div>
  {% endif %}

</div>

{% endblock %}