# .github/workflows/tests.yml
name: Tests
on: push
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: x64
    - run: pip install nox==2020.8.22
    - run: pip install poetry==1.0.10
    - run: pip install nox-poetry==0.6.0    
    - run: nox
